

/**********************
  Main Content
**********************/
html { font-size:100%; }

body {
  font-family: 'Lato', sans-serif;
  background-color: #ffe0a3;
}

header {
  padding: 0;
  margin: 0;
  background-color: #6a2634;
}

h1,
h2  {
  font-family: 'Frijole', cursive;
  font-size: 3.75em;
  text-align: center;
  text-shadow: 5px 5px #943939;
  line-height: 5px;
  padding-bottom: 25px;
  color: #e18237;
}

h3 {
  font-family: 'Frijole', cursive;
  text-decoration: underline;
  padding: 50px 0 10px 0px;
  font-size: 2em;
  color: #6a2634;
}

p {
  text-align: center;
  text-decoration: underline;
  font-size: 1.25em;
  color: #6a2634;
}

img { max-width: 100%; }

/**********************
  Navigation
**********************/

nav {
  text-align: center;
  margin: auto;
  background-color: #943939;
}

ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
  color: #e18237;

  a:link {
    color: #cc5500;
  }
  a:visited {
    color: #ffe0a3;
  }
  a:hover {
    color: ##ffa500;
  }
  a:active {
    color: #e18237;
  }
}

nav li {
  font-size: 1.25em;
  display: inline-block;
}

nav a {
  font-weight: 500;
  padding: 15px 10px;
}

/**********************
  Classes
**********************/

/** About Page **/

.img-circle {
  border-radius: 50%;
  border: 5px solid #e18237;
  height: 2.65em;
  width: 2.65em;
}

.main-header {
  background-color: cover;
  padding-top: 5px;
}

.main-content {
  height: 90%;
}

.cell-1 {
  padding: 12px 5px 30px 65px;
  color:  #943939;
  }

  .beer-taps{
    padding-top: 75px;
    padding-left: 50px;
  }

  .taps{
    border: 7px solid #943939;
  }

  .cell-2 {
    color:  #943939;
  }

  .beer-shades {
    padding-top: 15px;
    padding-left: 45px;
  }

  .shades {
      border: 7px solid #943939;
  }


/** Beers Page **/

.beers {
  text-decoration: none;
  color: #943939;
  margin: auto;
}

.beerousel{
  max-width: 70%;
  max-height: 100%;
  padding-left: 25rem;
}


/** Contact Page **/

.contact {
  text-align: center;
  text-decoration: none;
  color: #943939;
  margin: auto;
  padding: 10px 50px;
}

.foam {
  border: 7px solid #943939;
}

.beerd {
  padding-top: 10px;
  padding-bottom: 15px;
}

.message {
  height: 150px;
}

.text {
  font-size: 1.25em;
  color: #6a2634;
  text-decoration: underline;
}

input[type=submit] {
  border: 2px solid #6a2634;
  color: #e18237;
  background: #943939;
  border-radius: 3px;
  display: block;
  margin: 15px auto;
  padding: 12px 15px;
  text-decoration: none;
}

.footer {
  text-align: center;
  height: 10%;
  background-color: #6a2634;
  color: #e18237;
  padding-top: 5px;
}

/**********************
  # id
**********************/



/**********************
  Media Queries
**********************/

/* Small only */
@media screen and (max-width: 39.9375em) {
    .cell-1,
    .cell-2
     {font-size: .85em;}

    
  }

/* Medium and up */
@media screen and (min-width: 40em) {


    h1,
    h2, {
      font-size: 3em;
    }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {body {font-size: 1em;}}

/* Large and up */
@media screen and (min-width: 64em) {
  .cell-1,
  .cell-2
   {font-size: .85em;}
      }
  }

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {body {font-size: 1em;}}





/* Small only */
@media screen and (max-width: 39.9375em) {
