

/**********************
  Main Content
**********************/

body {
  font-family: 'Lato', sans-serif;
  background-image: url(https://static1.squarespace.com/static/571eed28d51cd40b93b22e04/t/5760802e07eaa0945ca98e92/1465942064712/champagne_bubbles_macro_by_evanduril-d632zpp.jpg?format=1500w);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

header {
  background-repeat: no-repeat;
  background-color: #6a2634;
}

h1 {
  font-family: 'Frijole', cursive;
  font-size: 3.50em;
  text-align: center;
  text-shadow: 5px 5px #943939;
  line-height: 5px;
  padding-bottom: 25px;
  color: #e18237;
}

h2{
font-family: 'Frijole', cursive;
font-size: 3.25em;
text-align: center;
text-shadow: 5px 5px #943939;
line-height: 5px;
padding-bottom: 25px;
color: #e18237;
}

h3 {
  font-family: 'Frijole', cursive;
  text-align: center;
  text-decoration: underline;
  padding: 50px 0 10px 0px;
  font-size: 2em;
  color: #6a2634;
}

p {
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  color: #6a2634;
}

img { max-width: 100%; }

/**********************
  Navigation
**********************/

nav {
  text-align: center;
  margin: auto;
  background-color: #943939;
}

nav li {
  font-size: 1.25em;
  display: inline-block;
}

nav a {
  font-weight: 500;
  padding: 15px 10px;
}

/**********************
  Classes
**********************/

/** About Page **/

.img-circle {
  border-radius: 50%;
  border: 5px solid #e18237;
  height: 2.65em;
  width: 2.65em;
  max-width: 100%;
}

.main-header {
  background-color: cover;
  padding-top: 5px;
}

.list {
  list-style: none;
  margin: 0 10px;
  padding: 0;
  color: #e18237;
}

.hover {
  background-color: #6a2634;
  }

.main-content {
  height: 90%;
}

.captions {
  text-align: center;
  text-decoration: underline;
  font-size: 1.25em;
  color: #6a2634;
}

  .beer-taps{
    padding-top: 25px;
  }

  .para1 {
    padding-top: 10px;
  }

  .para2{
    padding-top: 125px;
  }

  .taps{
    border: 7px solid #943939;
  }

  .beer-shades {
    padding-top: 15px;
    padding-left: 50px;
  }

  .shades {
    border: 7px solid #943939;
  }


/** Beers Page **/

.beers {
  text-decoration: none;
  color: #943939;
  margin: auto;
}

.beerousel{
      box-sizing: border-box;
      width: 85%;
      margin: auto;
    }

    .slick-slide {
      margin: 0px 10px;
      position: relative;
    }

    .slick-slide img {
      width: 100%;
    }

    .slide__caption {
      bottom: 0;
      min-height: 20px;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: 2;
      text-align: center;
      color: #ffe0a3;
      background-color: #943939;
      opacity: .6;
      padding-top: 5px;
      padding-bottom: 5px;
    }

    .slick-prev:before,
    .slick-next:before {
        color: black;
    }

/** Contact Page **/

.contact {
  text-align: center;
  text-decoration: none;
  color: #943939;
  margin: auto;
  padding: 10px 50px;
}

.foam {
  border: 7px solid #943939;
}

.beerd {
  padding-top: 10px;
  padding-bottom: 15px;
}

.message {
  height: 150px;
}

.text {
  font-size: 1.25em;
  color: #6a2634;
  text-decoration: underline;
}

input[type=submit] {
  border: 2px solid #6a2634;
  color: #e18237;
  background: #943939;
  border-radius: 3px;
  display: block;
  margin: 15px auto;
  padding: 12px 15px;
  text-decoration: none;
}

.footer {
  position: absolute;
  text-align: center;
  background-color: #6a2634;
  color: #e18237;
  right: 0;
  bottom: auto;
  left: 0;
  padding: 1rem;
}

/**********************
  # id
**********************/



/**********************
  Media Queries
**********************/
@media only screen and (max-width: 320px) {
    h1,
    h2 {
      font-size: .75em;
    }

    h3 {
      font-size: 1em;
    }

    a {
       font-size: .75em;
    }

    .taps,
    .cell-1 {
      float: right;
      display: block;
    }

    .cell-2 {
      float: left;
      display: block;
    }

    .shades,
    p {
      display: none;
    }
}

@media only screen and (max-width: 495px) {
    h1
     {
      font-size: 1.25em;
    }

    h2 {
      font-size: 1em;
    }

    h3 {
      font-size: .75em;
    }

    .shades,
    p {
      display: none;
    }

    a {
      font-size: .75em;
    }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
    h1,
    h2 {
      font-size: 2em;
    }

    h3 {
      font-size: 1em;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
    h1,
    h2 {
      font-size: 2.75em;
    }

    h3 {
      font-size: 1em;
    }
}

@media only screen and (min-width: 1024px) and (max-width:1350 px) {

    h3 {
      font-size: 1em;
    }
}
